<footer class="flex bg-blue-50 sticky bottom-0 justify-around p-1">
   <a class="" href="https://www.facebook.com/SNACKTEAVAITI/" target="_blank">
      <img class="h-8 w-8" src="/img/facebook-logo.png" alt="Facebook">
   </a>
   <a class="" href="https://www.google.com/maps/place/Snack+Teavaiti/@-17.8330331,-149.2813045,17z/data=!4m6!3m5!1s0x769baf50eb130bf1:0x7b368df4a976932f!8m2!3d-17.8330331!4d-149.2813045!16s%2Fg%2F11j7yjf0_b?entry=ttu" target="_blank">
      <img class="h-8 w-8" src="/img/maps-logo.png" alt="Google Maps">
   </a>
</footer>
