<section id="gallery" class="p-3">
   <h2 class="text-xl font-bold sm:text-3xl md:text-center lg:text-4xl">Quelques photos</h2>
   <div class="container mx-auto">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
         <!-- Gallery items go here -->
         <figure class="flex flex-col items-center justify-center h-fit bg-blue-200 rounded-lg overflow-hidden m-3">
            <img class="object-cover w-full h-64" src="img/burger_frites.jpg" alt="Burger Frites">
            <figcaption class="p-2 w-full text-center text-gray-600 ">Burger Frites</figcaption>
         </figure>
         <figure class="flex flex-col items-center justify-center h-fit bg-blue-200 rounded-lg overflow-hidden m-3">
            <img class="object-cover w-full h-64" src="img/chaomen.jpg" alt="Chaomen">
            <figcaption class="p-2 w-full text-center text-gray-600 ">Chaomen</figcaption>
         </figure>
         <figure class="flex flex-col items-center justify-center h-fit bg-blue-200 rounded-lg overflow-hidden m-3">
            <img class="object-cover w-full h-64" src="img/eclair.jpg" alt="Eclair">
            <figcaption class="p-2 w-full text-center text-gray-600 ">Eclair</figcaption>
         </figure>
         <figure class="flex flex-col items-center justify-center h-fit bg-blue-200 rounded-lg overflow-hidden m-3">
            <img class="object-cover w-full h-64" src="img/gateau_pleure.jpg" alt="Gâteau qui pleure">
            <figcaption class="p-2 w-full text-center text-gray-600 ">Gâteau qui pleure</figcaption>
         </figure>
         <figure class="flex flex-col items-center justify-center h-fit bg-blue-200 rounded-lg overflow-hidden m-3">
            <img class="object-cover w-full h-64" src="img/snack.jpg" alt="Le Snack">
            <figcaption class="p-2 w-full text-center text-gray-600 ">Le Snack</figcaption>
         </figure>
         <!-- Add more items as needed -->
      </div>
   </div>
</section>
