<header class="sticky top-0 bg-blue-50 pt-3">
   <div class="flex justify-between items-center">
      <img class="h-12 w-16 sm:h-16 sm:w-24 sm:top-0 sm:left-0 lg:h-24 lg:w-32 mt-1" src="/img/logo.png" alt="logo">
      <h1 class="text-center font-extrabold text-3xl grow sm:text-5xl lg:text-6xl pt-3">SNACK TE AVA ITI</h1>
      <img class="h-12 w-16 sm:h-16 sm:w-24 sm:top-0 sm:left-0 lg:h-24 lg:w-32 mt-1" src="/img/logo.png" alt="logo">
   </div>
   <a class="flex items-center w-fit m-auto" href="tel:+689 40 42 47 95">
      <h3>Commande au 40 42 47 95</h3>
      <img class="h-8 w-8 animate-pulse m-3" src="/img/call.png" alt="Commande">
   </a>
</header>
