<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="css/custom.css">
      <link rel="icon" type="image/png" href="img/logo.png">
      <script src="js/script.js"></script>
      <title>Snack Teavaiti</title>
   </head>
   <body class="flex flex-col bg-blue-50 font-indieflower text-xl max-w-7xl m-auto lg:text-2xl">
      <header class="sticky top-0 bg-blue-50 pt-3">
         <div class="flex justify-between items-center">
            <img class="h-12 w-16 sm:h-16 sm:w-24 sm:top-0 sm:left-0 lg:h-24 lg:w-32 mt-1" src="/img/logo.png" alt="logo">
            <h1 class="text-center font-extrabold text-3xl grow sm:text-5xl lg:text-6xl pt-3">SNACK TE AVA ITI</h1>
            <img class="h-12 w-16 sm:h-16 sm:w-24 sm:top-0 sm:left-0 lg:h-24 lg:w-32 mt-1" src="/img/logo.png" alt="logo">
         </div>
         <a class="flex items-center w-fit m-auto" href="tel:+689 40 42 47 95">
            <h3>Commande au 40 42 47 95</h3>
            <img class="h-8 w-8 animate-pulse m-3" src="/img/call.png" alt="Commande">
         </a>
      </header>
      <div class="flex items-center justify-end">
         <svg id="xpf" data-value="<%= rates.xpf %>" class="w-10 h-10 hover:cursor-pointer fill-black bg-blue-100 rounded-full m-1" xmlns="http://www.w3.org/2000/svg" viewBox="-47 -47 564 564">
            <path d="M401 69a233 233 0 0 0-332 0 233 233 0 0 0 0 332 233 233 0 0 0 332 0 233 233 0 0 0 0-332zM235 455a220 220 0 1 1 0-440 220 220 0 0 1 0 440z"/>
            <path d="M235 25a210 210 0 1 0 137 369 8 8 0 0 0-10-11 195 195 0 1 1 21-21 8 8 0 0 0 11 10A210 210 0 0 0 235 25z"/>
            <path d="m178 379 1 4c1 2 26 32 57 32 32 0 56-30 57-32l2-4c0-21-11-39-26-49a7 7 0 0 0-12-6 58 58 0 0 0-41 0 7 7 0 0 0-12 6 58 58 0 0 0-26 49zm73-41-10 39a8 8 0 0 0 14 4l10-35c8 7 14 18 15 30-6 6-23 24-44 24-20 0-38-18-43-24 1-12 6-23 15-30l9 35a8 8 0 0 0 15-4l-11-39a43 43 0 0 1 30 0zm-123 37 10 2 11-1a7 7 0 0 0 14-1l5-16 6-16a8 8 0 0 0-12-8c-4-6-11-11-17-13a28 28 0 1 0-17 53zm-4-30a13 13 0 0 1 16-8c8 2 16 12 14 18-1 4-8 7-16 7l-6-1a13 13 0 0 1-8-16zm232-16a28 28 0 0 0-39-2c-5 5-9 12-11 19a7 7 0 0 0-6 13l23 24a7 7 0 0 0 13-6c7-1 14-4 19-9 11-11 12-28 1-39zm-11 28c-4 4-10 6-16 6-2 0-5 0-7-2-4-4-1-17 5-23a13 13 0 0 1 18 1c3 2 4 6 4 9s-2 7-4 9zM74 290a8 8 0 0 0 0 15h72a8 8 0 0 0 0-15h-30l2-16h11a8 8 0 0 0 0-15h-8l5-16h171a7 7 0 1 0 0-15H131l7-18 22 7h5l34-12 33 12a7 7 0 0 0 6 0l33-12 24 9a7 7 0 1 0 5-15l-26-9h-5l-34 12-34-12h-5l-34 12-17-6c18-35 44-66 77-90 23 7 39 30 39 54 0 4 3 8 7 8s8-3 8-7a71 71 0 0 0-36-63c19-4 39 1 53 15a7 7 0 0 0 10 1c3-3 4-8 1-11a71 71 0 0 0-81-15c-9-12-21-21-36-25a7 7 0 1 0-4 14c7 2 14 6 20 11a71 71 0 0 0-62 39 7 7 0 1 0 14 6c9-17 27-28 46-29-29 23-53 53-70 87l-3-1h-5l-34 12-21-7a7 7 0 1 0-5 14l24 8h5l31-11-8 22H62a8 8 0 0 0 0 15h48l-4 16H65a8 8 0 0 0 0 15h38l-2 16H74zm302-47h32a7 7 0 1 0 0-15h-32a7 7 0 1 0 0 15zm5-25 2-1 24-8a8 8 0 0 0-5-14l-21 7-14-5a7 7 0 1 0-5 15l16 5 3 1z"/>
            <path d="M305 282c0-5-4-8-8-8H173a8 8 0 0 0 0 15h124c4 0 8-3 8-7zm59-98a7 7 0 1 0 0-15h-37c-4 0-7 3-7 7v106a7 7 0 1 0 15 0v-39h10a7 7 0 1 0 0-15h-10v-44h29z"/>
         </svg>
         <svg id="eur" data-value="<%= rates.eur %>" class="w-10 h-10 hover:cursor-pointer stroke-gray-500 bg-blue-100 rounded-full m-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M16 9c-.8-1.2-2.1-2-3.5-2C10 7 8 9.2 8 12s2 5 4.5 5c1.4 0 2.7-.8 3.5-2m-9-4.5h4m-4 3h4M21 12"/>
         </svg>
         <svg id="usd" data-value="<%= rates.usd %>" class="w-10 h-10 hover:cursor-pointer stroke-gray-500 bg-blue-100 rounded-full m-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8.7 14.3c0 1.3 1 2.4 2.2 2.4h2.5c1 0 2-1 2-2 0-1.3-.6-1.7-1.4-2l-4-1.4c-.8-.3-1.3-.7-1.3-2 0-1 .8-2 2-2H13c1.3 0 2.2 1 2.2 2.4M12 6v12"/>
         </svg>
         <div id="displayed" class="hidden" data-value="xpf"></div>
      </div>
      <section id="menu" class="flex flex-wrap justify-around">
         <div class="w-full sm:w-1/2 md:max-w-md p-3 pt-0">
            <h2 class="text-xl font-bold sm:text-3xl lg:text-4xl">Viandes</h2>
            <div class="flex">
               <span class="w-9/12">Hamburger + Frites</span>
               <span class="w-3/12 text-right price">950 fr</span>
            </div>
            <div class="flex">
               <span class="w-9/12">Cheeseburger + Frites</span>
               <span class="w-3/12 text-right price">1050 fr</span>
            </div>
            <div class="flex">
               <span class="w-9/12">Steack + Frites</span>
               <span class="w-3/12 text-right price">1300 fr</span>
            </div>
            <div class="flex">
               <span class="w-9/12">Steack + Frites + Roquefort</span>
               <span class="w-3/12 text-right price">1400 fr</span>
            </div>
            <div class="flex">
               <span class="w-9/12">Poulet + Frites</span>
               <span class="w-3/12 text-right price">800 fr</span>
            </div>
            <div class="flex">
               <span class="w-9/12">Poulet + Frites + Roquefort</span>
               <span class="w-3/12 text-right price">900 fr</span>
            </div>
            <div class="flex">
               <span class="w-9/12">Poulet aux légumes</span>
               <span class="w-3/12 text-right price">1300 fr</span>
            </div>
            <div class="flex">
               <span class="w-9/12">Poulet Croustillant</span>
               <span class="w-3/12 text-right price">1300 fr</span>
            </div>
            <div class="flex">
               <span class="w-9/12">Chao men</span>
               <span class="w-3/12 text-right price">1200 fr</span>
            </div>
            <div class="flex">
               <span class="w-9/12">Salade de Poulet + Yaourt</span>
               <span class="w-3/12 text-right price">1200 fr</span>
            </div>
         </div>
         <div class="w-full sm:w-1/2 md:max-w-md p-3 pt-0">
            <h2 class="text-xl font-bold sm:text-3xl lg:text-4xl">Poissons</h2>
            <div class="flex">
               <span class="w-9/12">Fish Burger + Frites</span>
               <span class="w-3/12 text-right price">1100 fr</span>
            </div>
            <div class="flex">
               <span class="w-9/12">Poisson frit + Frites</span>
               <span class="w-3/12 text-right price">1300 fr</span>
            </div>
            <div class="flex">
               <span class="w-9/12">Poisson cru au lait de coco</span>
               <span class="w-3/12 text-right price">1300 fr</span>
            </div>
            <div class="flex">
               <span class="w-9/12">Poisson cru Chinois</span>
               <span class="w-3/12 text-right price">1300 fr</span>
            </div>
            <div class="flex">
               <span class="w-9/12">Sashimi</span>
               <span class="w-3/12 text-right price">1200 fr</span>
            </div>
            <div class="flex">
               <span class="w-9/12">Crevettes au curry</span>
               <span class="w-3/12 text-right price">1400 fr</span>
            </div>
            <div class="flex">
               <span class="w-9/12">Salade de thon + Yaourt</span>
               <span class="w-3/12 text-right price">1200 fr</span>
            </div>   
         </div>
         <div class="w-full sm:w-1/2 md:max-w-md p-3 pt-0">
            <h2 class="text-xl font-bold sm:text-3xl lg:text-4xl">Sauces</h2>
            <div class="flex">
               <span class="w-9/12">Barbecue</span>
               <span class="w-3/12 text-right price">300 fr</span>
            </div>
            <div class="flex">
               <span class="w-9/12">Roquefort</span>
               <span class="w-3/12 text-right price">350 fr</span>
            </div>
         </div>
         <div class="w-full sm:w-1/2 md:max-w-md p-3 pt-0">
            <h2 class="text-xl font-bold sm:text-3xl lg:text-4xl">Accompagnement</h2>
            <div class="flex">
               <span class="w-6/12"></span>
               <span class="w-3/12 text-right">Petit</span>
               <span class="w-3/12 text-right">Grand</span>
            </div>
            <div class="flex">
               <span class="w-6/12">Barquettes de riz</span>
               <span class="w-3/12 text-right price">400 fr</span>
               <span class="w-3/12 text-right price">500 fr</span>
            </div>

            <div class="flex">
               <span class="w-6/12">Portion de frites</span>
               <span class="w-3/12 text-right price">400 fr</span>
               <span class="w-3/12 text-right price">500 fr</span>
            </div>
         </div>
         <div class="w-full sm:w-1/2 md:max-w-md p-3 pt-0">
            <h2 class="text-xl font-bold sm:text-3xl lg:text-4xl">Desserts</h2>
            <div class="flex">
               <span class="w-9/12">Gauffre chocolat chantilly</span>
               <span class="w-3/12 text-right price">400 fr</span>
            </div>
            <div class="flex">
               <span class="w-9/12">Gâteau qui pleure</span>
               <span class="w-3/12 text-right price">500 fr</span>
            </div>
            <div class="flex">
               <span class="w-9/12">Eclair/Tartelette/Chou</span>
               <span class="w-3/12 text-right price">250 fr</span>
            </div>
            <div class="flex">
               <span class="w-9/12">Forêt noire</span>
               <span class="w-3/12 text-right price">350 fr</span>
            </div>
            <div class="flex">
               <span class="w-9/12">Mimosat</span>
               <span class="w-3/12 text-right price">300 fr</span>
            </div>
         </div>
         <div class="w-full sm:w-1/2 md:max-w-md p-3 pt-0">
            <h2 class="text-xl font-bold sm:text-3xl lg:text-4xl">Boissons</h2>
            <div class="flex">
               <span class="w-6/12"></span>
               <span class="w-3/12 text-right">Petit</span>
               <span class="w-3/12 text-right">Grand</span>
            </div>
            <div class="flex">
               <span class="w-6/12">Tahitian Cola</span>
               <span class="w-3/12 text-right price">250 fr</span>
               <span class="w-3/12 text-right price">700 fr</span>
            </div>
            <div class="flex">
               <span class="w-6/12">Tahitian Lime</span>
               <span class="w-3/12 text-right price">250 fr</span>
               <span class="w-3/12 text-right price">700 fr</span>
            </div>
            <div class="flex">
               <span class="w-6/12">Tahitian Orange</span>
               <span class="w-3/12 text-right price">250 fr</span>
               <span class="w-3/12 text-right price">700 fr</span>
            </div>
            <div class="flex">
               <span class="w-6/12">Tahitian Red</span>
               <span class="w-3/12 text-right price">250 fr</span>
               <span class="w-3/12 text-right price">700 fr</span>
            </div>
            <div class="flex">
               <span class="w-6/12">Eau</span>
               <span class="w-3/12 text-right"></span>
               <span class="w-3/12 text-right price">700 fr</span>
            </div>
         </div>
      </section>
      <section id="gallery" class="p-3">
         <h2 class="text-xl font-bold sm:text-3xl md:text-center lg:text-4xl">Quelques photos</h2>
         <div class="container mx-auto">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
               <!-- Gallery items go here -->
               <figure class="flex flex-col items-center justify-center h-fit bg-blue-200 rounded-lg overflow-hidden m-3">
                  <img class="object-cover w-full h-64" src="img/burger_frites.jpg" alt="Burger Frites">
                  <figcaption class="p-2 w-full text-center text-gray-600 ">Burger Frites</figcaption>
               </figure>
               <figure class="flex flex-col items-center justify-center h-fit bg-blue-200 rounded-lg overflow-hidden m-3">
                  <img class="object-cover w-full h-64" src="img/chaomen.jpg" alt="Chaomen">
                  <figcaption class="p-2 w-full text-center text-gray-600 ">Chaomen</figcaption>
               </figure>
               <figure class="flex flex-col items-center justify-center h-fit bg-blue-200 rounded-lg overflow-hidden m-3">
                  <img class="object-cover w-full h-64" src="img/eclair.jpg" alt="Eclair">
                  <figcaption class="p-2 w-full text-center text-gray-600 ">Eclair</figcaption>
               </figure>
               <figure class="flex flex-col items-center justify-center h-fit bg-blue-200 rounded-lg overflow-hidden m-3">
                  <img class="object-cover w-full h-64" src="img/gateau_pleure.jpg" alt="Gâteau qui pleure">
                  <figcaption class="p-2 w-full text-center text-gray-600 ">Gâteau qui pleure</figcaption>
               </figure>
               <figure class="flex flex-col items-center justify-center h-fit bg-blue-200 rounded-lg overflow-hidden m-3">
                  <img class="object-cover w-full h-64" src="img/snack.jpg" alt="Le Snack">
                  <figcaption class="p-2 w-full text-center text-gray-600 ">Le Snack</figcaption>
               </figure>
               <!-- Add more items as needed -->
            </div>
         </div>
      </section>
      <footer class="flex bg-blue-50 sticky bottom-0 justify-around p-1">
         <a class="" href="https://www.facebook.com/SNACKTEAVAITI/" target="_blank">
            <img class="h-8 w-8" src="/img/facebook-logo.png" alt="Facebook">
         </a>
         <a class="" href="https://www.google.com/maps/place/Snack+Teavaiti/@-17.8330331,-149.2813045,17z/data=!4m6!3m5!1s0x769baf50eb130bf1:0x7b368df4a976932f!8m2!3d-17.8330331!4d-149.2813045!16s%2Fg%2F11j7yjf0_b?entry=ttu" target="_blank">
            <img class="h-8 w-8" src="/img/maps-logo.png" alt="Google Maps">
         </a>
      </foote>
   </body>
</html>
